* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0.0.0.0.5)50%), url(/home/yab/alx-system_engineering-devops/0x00-shell_basics/html/css/Untitled.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    height: 75px;
    width: 1200px;
    margin: auto;
}

.icon {
    height: 200px;
    width: 75px;
    float: left;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}