* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0.0.0.0.5)50%),url(1.jpg);
    background: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    height: 75px;
    width: 100px;
    margin: auto;
}

.icon {
    height: 200px;
    width: 75px;
    margin: auto;
}