* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0.0.0.0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    height: 75px;
    width: 1200px;
    margin: auto;
}

.icon {
    height: 200px;
    width: 75px;
    float: left;
}